* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
}

body{
    background-color: #121212;
    color: #fff;
}

.box {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    text-align: center;
    width: 400px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

a {
    display: inline-block;
}

.cont {
    height: 150px;
    width: 150px;
  
    margin: 10px;
    background-color: #33ccff; 
}

.center-text {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}


